*.o
*.bk
*.a
rbftest
temp*
temp/
cs222.xcodeproj/
codebase/rm/attributes
codebase/rm/catalog
codebase/rm/rmtest
codebase/rm/rmtest_extra
codebase/rm/rmtest_[1,2,3]
codebase/rm/librm.a
ixtest1
ixtest2
ixtest3
*_idx
sync.sh
.idea/
