*.o
librbf.a
rbftest
temp.*
temp/
cs222.xcodeproj/
codebase/rm/attributes
codebase/rm/catalog
codebase/rm/rmtest
codebase/rm/rmtest_extra
codebase/rm/rmtest_[1,2]
codebase/rm/librm.a
codebase/rm/ixtest[1,2]

